<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MyApplications" type="OpenEdit.WPF.Model.MyApplicationConfigurationSection, OpenEdit.WPF" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key=""/>
  </appSettings>
  <MyApplications>
    <MyApplication ApplictionCode="0221" ApplicationName="材料供应链"/>
    <MyApplication ApplictionCode="0220" ApplicationName="采招系统"/>
    <MyApplication ApplictionCode="0101;0011" ApplicationName="销售系统"/>
    <MyApplication ApplictionCode="0201" ApplicationName="成本系统"/>
  </MyApplications>
</configuration>