<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <clear/>
    <!--默认打开产品所在根目录-->
    <add key="ProductRootPath" value="E:\mysoft\tfs_new\10.5.10.96\WH-ProductDev\住宅ERP-新平台\ERP-V1.0\60_材料供应链系统\03_主干-开发分支\00_根目录"/>

    <!--默认二开所在根目录-->
    <add key="CustomizeRootPath" value="E:\mysoft\tfs_new\10.5.10.70\星河二开项目\总部星河\明源云ERPv1.0SP5星河孵化\源代码\分支1\00-ERP站点,E:\mysoft\tfs_new\10.5.10.73\俊发二开\明源云ERPv1.0SP5明源云ERPv1.0SP5俊发孵化\源代码\分支1\00-ERP站点,D:\github\TFSTest\00-ERP站点"/>

    <!--获取产品解决方案名称-->
    <add key="ProductSlnFileName" value="材料供应链整体解决方案.sln"/>
    
    <!--获取二开解决方案名称-->
    <add key="CustomizeSlnFileName" value="材料供应链二开整体解决方案.sln"/>

    <!--需要迁移的元数据目录-->
    <add key="MetadataDirectory" value="AppForm,AppGrid,AppTreeGrid,AppCard,Entity,View,MetadataRelationship,EventConfig,FunctionPage,Langs,MyFunction"/>
    <!--需要更新的文件夹元数据、Bin为默认目录 注意是该文件夹下所有文件无论有多少层级-->
    <add key="UpdateDirectory" value="Clgyl,_frontend,modeling,PubPlatform"/>
    <!--<add key="UpdateDirectory" value="_base,_frontend,ActiveX,dogLib,modeling,MyWorkflow,node,Plugin,PubPlatform,Report,Clgyl"/>-->
    <!--不包含文件名-->
    <add key="NotContainFileName" value="product-module.json"/>
  </appSettings>
</configuration>
