<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="UpdateServiceAddress"  value="http://111.231.83.218/api"/>
    <add key="PackageAdresses" value="D:\github\my\Joey\JoeySoft\JoeySoft.TfsDevelop\JoeySoft.UpdatePackageClient\bin\Release\JoeySoft.UpdatePackageClient.exe,D:\github\my\Joey\JoeySoft\JoeySoft.TfsDevelop\JoeySoft.TfsDevelopWinFrom\bin\Release"/>
  </appSettings>
</configuration>