<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>

<#+
    class TestConfig
    {
        /// <summary>
        /// 系统名称
        /// </summary>
        public string SysName
        {
            get
            {
                return "Clgyl";
            }
        }

        /// <summary>
        /// 模块名称
        /// </summary>
        public string ModuleName
        {
            get
            {
                return "SaleMng";
            }
        }

        /// <summary>
        /// 单测地址
        /// </summary>
        public string UnitTestPath
        {
            get
            {
                return @"E:\mysoft\git\clxt\src\06 销售管理\Mysoft.Clgyl.SaleMng.UnitTest";
            }
        }

        /// <summary>
        /// 程序集的XML地址
        /// </summary>
        public string DllXmlPath
        {
            get
            {
                return @"E:\mysoft\git\clxt\src\06 销售管理\Mysoft.Clgyl.SaleMng\bin\Mysoft.Clgyl.SaleMng.XML";
            }
        }
    }
#>