<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--更新服务地址-->
    <add key ="UpdateServiceAddress" value="http://111.231.83.218/api"/>
    <add key ="GetVersionAddress" value="Version"/>
    <add key ="JoeySofyName" value="TfsDevelop"/>
    <add key ="TfsDevelopExePath" value="D:\github\my\Joey\JoeySoft\JoeySoft.TfsDevelop\JoeySoft.TfsDevelopWinFrom\bin\Release\"/>
  </appSettings>
</configuration>