<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ parameter type="System.string" name="ClassDescription" #>
<#@ parameter type="System.string" name="TestName" #>
<#@ parameter type="System.string" name="ModuleName" #>
<#@ parameter type="System.string" name="AppServiceName" #>
<#@ parameter type="System.string" name="EntityName" #>
<#@ parameter type="System.Collections.Generic.List<System.String>" name="MethodNames" #>
<#@ parameter type="System.Collections.Generic.List<System.String>" name="Descriptions" #>
<#@ parameter type="System.Collections.Generic.List<System.String>" name="PublicServiceNames" #>
<#@ parameter type="System.Collections.Generic.List<System.String>" name="DomainServiceNames" #>
<#@ parameter type="System.Collections.Generic.List<System.String>" name="TestMockServiceResolvers" #>
using Mysoft.Clgyl.<#=        this.ModuleName#>.AppServices;
using Mysoft.Clgyl.<#=        this.ModuleName#>.DomainServices;
using Mysoft.Clgyl.<#=        this.ModuleName#>.DomainServices.Fakes;
using Mysoft.Clgyl.<#=        this.ModuleName#>.Model;
using Mysoft.Clgyl.Utility;
using Mysoft.Map6.Platform.Services;
using Mysoft.Map6.Platform.Services.Fakes;
using Mysoft.Map6.Platform.Exceptions;
using Mysoft.Map6.Core.Pipeline;
using Mysoft.Map6.TestCore;
using Mysoft.Map6.Core.Tools;
using Mysoft.Map6.Core.EntityBase;
using NUnit.Framework;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

namespace Mysoft.Clgyl.<#=        this.ModuleName#>.UnitTest.AppServices
{
	/// <summary>
    /// <#=        this.ClassDescription#>单测 
    /// </summary>
    [TestFixture]
    public class <#=        this.TestName #>
    {
		private readonly <#=        this.AppServiceName#> _<#=        this.AppServiceName[0].ToString().ToLower()+ this.AppServiceName.Substring(1, this.AppServiceName.Length - 1)#> = new <#=        this.AppServiceName#>();

        private readonly StubFormEntityDomainService _formEntity = new StubFormEntityDomainService();

        private readonly EntityMocker<<#=        this.EntityName#>> _<#=        this.EntityName[0].ToString().ToLower()+this.EntityName.Substring(1, this.EntityName.Length - 1)#>Mock = new EntityMocker<<#=        this.EntityName#>>();
        
<#    for(int i = 0; i < this.DomainServiceNames.Count; i++){ #>
        <#=            DomainServiceNames[i]#>
<#    }#>
        #region 接口服务
<#    for(int i = 0; i < this.PublicServiceNames.Count; i++){ #>
        <#=            PublicServiceNames[i]#>
<#    }#>
        #endregion

        [SetUp]
        public void InitResource()
        {
            TestMockServiceResolver.RegisterInstance<FormEntityDomainService, StubFormEntityDomainService>(_formEntity);
<#    for(int i = 0; i < this.TestMockServiceResolvers.Count; i++){ #>
            <#=            TestMockServiceResolvers[i]#>
<#    }#>
        }
        #region  <#=        this.ClassDescription#>单测 <#=    this.MethodNames.Count#>个方法
<#    for(int i = 0; i < this.MethodNames.Count; i++){ #>
        [Test(Description = "<#=            this.Descriptions[i]#>")]
        public void <#=            this.MethodNames[i]#>_Test()
        {
            
        }
<#    }#>
        #endregion
	}
}